*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.donation-container{
	width: 100%;
	height: 600px;
	padding: 100px 0;
}
.donation-subcontainer{
	width: 1170px;
	height: 500px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}
.donation-content{
	width: 700px;
	height: 500px;
}
.donation-content .donation-ctn-head{
	position: relative;
	padding-bottom: 15px;
	text-transform: capitalize;
	font-size: 24px;

}
.donation-content .donation-ctn-head::before{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 270px;
	height: 1px;
	background-color: black;

}
.donation-content .donation-ctn-head::after{
	position: absolute;
	content: '';
	display: block;
	left: 0;
	bottom: -1px;
	width: 50px;
	height: 3px;
	background-color: #F0392B;
}
.donation-content .ctn{
	margin-bottom: 25px;
}
.donation-content p{
	font-size: 14px;
}

.donation-content table{
	width: 400px;
	height: 150px;
}
.donation-content table, tr, td{
	border: 1px solid white;
	background-color: #F0392B;
	color: white;
	border-collapse: collapse;
	font-size: 18px;
	padding: 20px;
}


.donation-ctn-footer{
	margin-top: 70px;
}
.donation-content a{
	padding: 20px;
	border: 2px solid #666;
	color: black;
	transition: all 0.3s;
}
.donation-content a:hover{
	color: white;
	background-color: #F0392B;
	border: 1px solid #F0392B;
}

.donation-image{
	width: 470px;
	height: 500px;
}
.donation-image img{
	width: 470px;
	height: 400px;
}